{
  "parser": "babel-eslint",
  "plugins": [
    "react-native"
  ],
  "extends": [
    "airbnb"
  ],
  "globals": {
    "__DEV__": true,
    "__dirname": false,
    "__fbBatchedBridgeConfig": false,
    "cancelAnimationFrame": false,
    "clearImmediate": true,
    "clearInterval": false,
    "clearTimeout": false,
    "console": false,
    "document": false,
    "escape": false,
    "exports": false,
    "fetch": false,
    "global": false,
    "jest": false,
    "Map": true,
    "module": false,
    "navigator": false,
    "process": false,
    "Promise": true,
    "requestAnimationFrame": true,
    "require": false,
    "Set": true,
    "setImmediate": true,
    "setInterval": false,
    "setTimeout": false,
    "window": false,
    "XMLHttpRequest": false,
    "alert": true,
    "pit": false
  },
  "rules": {
    "semi": "off",
    "object-curly-spacing": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-space-before-closing": "off",
    "react/jsx-tag-spacing": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "global-require": "off",
    "consistent-return": "off",
    "react/jsx-indent": "off",
    "indent": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/img-has-alt": "off",
    "padded-blocks": "off",
    "no-prototype-builtins": "off",
    "spaced-comment": "off",
    "react/prop-types": "off",
    "prefer-destructuring": "off",
    "no-multiple-empty-lines": "off",
    "react/sort-comp": "off",
    "no-trailing-spaces": "off",
    "react/jsx-indent-props": "off",
    "import/first": "off",
    "keyword-spacing": "off",
    "no-return-assign": "off",
    "react/jsx-no-comment-textnodes": "off",
    "max-len": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-max-props-per-line": "off",
    "react/no-multi-comp": "off",
    "no-mixed-operators": "off",
    "react/no-array-index-key": "off",
    "camelcase": "off",
    "object-curly-newline": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}